<h3>Add Shift</h3>

<div class="card form-card">
  <div class="card-body">
    <div class="form-group">

      <label for="dayOfWeek">Day of Week:</label>
      <select id="dayOfWeek" class="form-control" [(ngModel)]="shift.dayOfWeek">
        <option *ngFor="let d of dayOfWeek" [ngValue]="d">
          {{ d }}
        </option>
      </select>

      <label for="shiftTime">Shift Time:</label>
      <select id="shiftTime" class="form-control" [(ngModel)]="shift.shiftTime">
        <option *ngFor="let t of shiftTime" [ngValue]="t">
          {{ t }}
        </option>
      </select>

      <button class="btn btn-submit mt-3" (click)="saveShift()">Submit</button>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-between mb-3">
  <a routerLink="/" class="back-link d-inline-flex align-items-center">
    <i class="bi bi-arrow-left"></i>
    <span class="ms-1">Back to main page</span>
  </a>

  <a routerLink="/view/shifts" class="btn btn-theme-outline">
    View Shift
  </a>
</div>