<div class="d-flex align-items-center justify-content-between mb-4">
  <h3>Shift List</h3>
  <a routerLink="/add/shifts" class="btn btn-theme-outline">Add Shift</a>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover align-middle table-sm">
    <thead>
      <tr>
        <th>Day Of Week</th>
        <th>Shift Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (shift of shifts; track shift.id) {
        <tr>
          <!-- Day Of Week -->
          <td>
            <div *ngIf="shift.isEdit; else dayRead">
              <select
                [attr.id]="'dayOfWeek-' + shift.id"
                class="form-select"
                [(ngModel)]="shift.dayOfWeek">
                <option *ngFor="let d of dayOfWeek" [ngValue]="d">{{ d }}</option>
              </select>
            </div>
            <ng-template #dayRead>{{ shift.dayOfWeek }}</ng-template>
          </td>

          <!-- Shift Time -->
          <td>
            <div *ngIf="shift.isEdit; else timeRead">
              <select
                [attr.id]="'shiftTime-' + shift.id"
                class="form-select"
                [(ngModel)]="shift.shiftTime">
                <option *ngFor="let t of shiftTime" [ngValue]="t">{{ t }}</option>
              </select>
            </div>
            <ng-template #timeRead>{{ shift.shiftTime }}</ng-template>
          </td>

          <!-- Actions -->
          <td>
            <div *ngIf="shift.isEdit; else viewBtns">
              <button class="btn btn-update btn-sm" (click)="onUpdate(shift.id!, shift)">Update</button>
              <button class="btn btn-cancel btn-sm mx-2" (click)="onCancel(shift)">Cancel</button>
            </div>
            <ng-template #viewBtns>
              <button class="btn btn-edit btn-sm" (click)="onEdit(shift)">Edit</button>
              <button class="btn btn-danger-soft btn-sm mx-2" (click)="deleteShift(shift.id!)">Delete</button>
            </ng-template>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
