<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
      <div id="sensorsPanel" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cleaners Component</h3>
        </div>
        <div class="panel-body">
          <a routerLink="/view/cleaners" class="btn btn-primary">View Cleaners</a>
          <a routerLink="/add/cleaners" class="btn btn-primary">Add Cleaners</a>
          <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
  </div>
